* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(img/1.jpg);
  background-position: center;
  background-size: cover;
}

.logo {
  text-align: center;
  padding: 1em 0 3em 0;
  color: #ff7200;
  font-family: Arial;
}

ul {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-bottom: 3rem;
  align-items: center;
}

ul li a {
  color: white;
  font-family: Arial;
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8rem;
}

ul li a:hover {
  color: #ff7200;
  transition: 0.4s ease-in-out;
}

.searchbar {
  display: flex;
  justify-content: center;
  height: 2.5rem;
}

.navbar {
  color: white;
  width: 100%;
}

.input {
  border: #ff7200 1px solid;
  background: transparent;
  color: white;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  border-right: none;
  font-size: 1rem;
  padding: 0.6rem;
  width: 40%;
}

button {
  height: 2.5rem;
  background-color: #ff7200;
  color: white;
  border: #ff7200 2px solid;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 1rem;
  width: 5rem;
  cursor: pointer;
  transition: 0.4s ease;
}

button:hover {
  color: black;
  background-color: white;
}
.input:focus {
  outline: none;
}
.searchButton:focus {
  outline: none;
}

.content {
  color: white;
  padding: 2rem;
  text-align: center;
  position: relative;
}

span {
  color: #ff7200;
  font-size: 3.5rem;
}

.joinUsButton {
  border-radius: 10px;
  width: 9rem;
  margin: 1rem 0;
}

.joinUsButton a {
  text-decoration: none;
  color: black;
}

.joinUsButton:hover {
  background-color: white;
}

p {
  margin-top: 1rem;
  font-family: Arial;
  letter-spacing: 0.04rem;
  line-height: 1.6rem;
}

.content h1 {
  font-family: "Times New Roman", Times, serif;
}

.signUp {
  font-size: 1rem;
}

.link a {
  color: white;
  text-decoration: none;
}

#loginHere {
  background-color: white;
  color: #ff7200;
  border-radius: 10px;
  width: 13rem;
  font-size: 1.4rem;
  margin: auto;
  text-align: center;
  padding: 0.3rem;
  margin: 0.3rem;
  font-family: sans-serif;
  width: 90%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80%;
  border-radius: 10px;
  padding: 1.5rem;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
}

.form input {
  margin-top: 1.5rem;
  width: 90%;
  border: none;
  border-bottom: #ff7200 solid 1px;
  background: transparent;
  color: white;
  padding: 0.5rem;
  height: 2rem;
  font-size: 1rem;
  font-family: sans-serif;
}

::placeholder {
  color: rgb(204, 204, 204);
  font-family: Arial, Helvetica, sans-serif;
}

.form input:focus {
  outline: none;
}

.loginbutton {
  border-radius: 10px;
  width: 90%;
  height: 2.5rem;
  margin-top: 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: -0.2rem;
}

#loginWith {
  padding: 0.3rem;
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: white;
}

.icons ion-icon {
  color: white;
  font-size: 2rem;
  transition: 0.3s ease;
}

.icons ion-icon:hover {
  color: #ff7200;
}

@media only screen and (min-width: 768px) {
  .main {
    height: 109vh;
  }

  .navbar {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 1rem 0;
  }

  .logo {
    margin: auto;
    padding: 1rem;
  }
  .list {
    margin: auto;
    width: 50%;
  }
  .searchbar {
    margin: auto;
  }
  .list ul {
    margin-bottom: 0;
  }

  .input {
    width: 55%;
  }
  .content {
    display: flex;
    border: solid red 1px;
    margin: 4rem auto;
    justify-content: space-between;
  }
}
